@import url("https://fonts.googleapis.com/css2?family=Baloo+Paaji+2:wght@400..800&family=Rubik+Wet+Paint&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}

body {
  height: 100vh;
  width: 100vw;
  position: relative;
}

html {
  font-size: 62.5%;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
}

h1 {
  font-family: "Rubik Wet Paint", cursive;

  font-size: 9.5rem;
  letter-spacing: 1px;
  position: fixed;
  text-align: center;
  width: 100vw;
  color: #00748c;
}

h3 {
  text-align: center;
  font-size: 40px;
  color: #707494;
  font-family: "Baloo Paaji 2";
  margin: 0vh auto;
}

.main-container {
  display: flex;
  justify-content: center;
  gap: 2rem;
  text-align: center;
  padding: 0rem;
  border-radius: 10px;
  width: 70%;
  margin: 0 auto;
}

.img-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img-container .img {
  width: 40rem;
  height: 32rem;
  cursor: pointer;
  overflow: hidden;
}

button {
  background-color: white;
  border: none;
  cursor: pointer;
  width: 400rem;
}

.img-container span {
  margin-top: 0.5rem;
  font-size: 16px;
  color: white;
}

.replay-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

#replay {
  position: absolute;
  padding: 10px 20px;
  background-color: #3a4c4c;
  color: #fff9f9;
  text-align: center;
  border-radius: 10px;
  font-weight: bolder;
  width: 200px;
  display: none;
  font-size: 24px;
  bottom: 9vh;
}

.h3display {
  font-size: 25rem;
}

span {
  color: #411313;
  font-size: 20px;
  font-weight: bolder;
  font-family: "Baloo Paaji 2";
}

pre {
  text-align: right;
  font-family: "Baloo Paaji 2";
  font-weight: bold;
  font-size: 3rem;
  color: #4f6090;
  position: fixed;
  bottom: 15vh;
  left: 40.5vw;
}
.game-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;
}
#win,
#lost,
#draw {
  font-size: 3rem;
}

.left-img,
.right-img {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 40rem;
  height: 32rem;
  display: none;
}

.left-img {
  left: -30%;
}

.right-img {
  right: -30%;
}

#stars-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 999;
}

.star {
  position: absolute;
  background-color: gold;
  width: 5rem;
  height: 5rem;
  clip-path: polygon(
    50% 0%,
    61% 35%,
    98% 35%,
    68% 57%,
    79% 91%,
    50% 70%,
    21% 91%,
    32% 57%,
    2% 35%,
    39% 35%
  );
  opacity: 0;
  animation: fall 4s 1;
}

@keyframes fall {
  0% {
    transform: translateY(-50px);
    opacity: 1;
  }
  100% {
    transform: translateY(100vh);
    opacity: 0;
  }
}

@keyframes left-entry {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(55vw);
  }
}

@keyframes right-entry {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-55vw);
  }
}

@media screen and (max-width: 1700px) {
  html {
    font-size: 55%;
  }
  .game-container {
    transform: translateY(-15%);
  }
}
@media screen and (max-width: 1500px) {
  html {
    font-size: 55%;
  }
  pre{
    margin-bottom: 3px;
    left: 40vw;
  }
  @keyframes left-entry {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(50vw);
    }
  }

  @keyframes right-entry {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50vw);
    }
  }
}
@media screen and (max-width: 1400px) {
  html {
    font-size: 55%;
  }
  pre{
    left: 38.5vw;
  }
}
@media screen and (max-width: 1266px) {
  html {
    font-size: 50%;
  }
  #replay{
    width: 184px;
    font-size: 21px;
  }
}

@media screen and (max-width: 1110px) {
  html {
    font-size: 45%;
  }
  pre{
    font-size: 4rem;
    left: 33.5vw;
  }
  #win,
#lost,
#draw {
  font-size: 4rem;
}
}

@media screen and (max-width: 1000px) {
  html {
    font-size: 40%;
  }
  pre{
    font-size: 4rem;
  }
}

@media screen and (max-width: 900px) {
  html {
    font-size: 35%;
  }

  pre {
    font-size: 4rem;
    left: 34vw;
  }
  #replay{
    width: 184px;
    font-size: 21px;
  }
  #win,
  #lost,
  #draw {
    font-size: 4rem;
  }
}

@media screen and (max-width: 800px) {
  html {
    font-size: 30%;
  }
   #replay{
    width: 184px;
    font-size: 21px;
  }
  pre{
    font-size: 4rem;
    left: 35vw;
    text-align: center;
  }
}

@media screen and (max-width: 700px) {
  h1 {
    margin-top: 5vh;
    font-size: 6vw;
  }
  .img-container .img{
    width: 28vw;
    height: 28vw;
  }
  h3 {
    font-size: 30px;
  }
  pre{
    font-size: 4rem;
    left: 32vw;
  }
  @keyframes left-entry {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(45vw);
    }
  }

  @keyframes right-entry {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-45vw);
    }
  }
}

@media screen and (max-width: 600px) {
  #replay {
    font-size: 16px;
    padding: 8px 16px;
  }
  .h3display {
    font-size: 21rem;
}
  pre{
    font-size: 4rem;
    left: 30vw;
  }
}
@media screen and (max-width: 550px){
pre{
  left: 27.5vw;
}
@keyframes left-entry {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(35vw);
  }
}

@keyframes right-entry {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-35vw);
  }
}
}

@media screen and (max-width: 500px) {
  html {
    font-size: 15%;
  }
  .star {
    width: 10rem;
    height: 10rem;
  }
  .h3display {
    font-size: 30rem;
}

  pre {
    font-size: 20px;
    bottom: 15vh;
    text-align: center;
    left: 26vw;
  }
  #win,
  #lost,
  #draw {
    font-size: 8rem;
  }
  @keyframes left-entry {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(50vw);
    }
  }

  @keyframes right-entry {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50vw);
    }
  }
}
@media screen and (max-width: 450px) {

  pre{
    
    left: 21vw;
  }
  h3{
    margin-top: -28rem;
  }
  .img-container .img {
   
    margin-top: 50rem;
  }

}
@media screen and (max-width: 400px) {
  html {
    font-size: 10%;
  }
h3{
  margin-top: -28rem;
}
  .left-img,
  .right-img {
    width: 45rem;
    height: 45rem;
  }
  h1 {
    font-size: 13rem;
  }
  pre{
    left: 20vw;
  }

  #win,
  #lost,
  #draw {
    font-size: 20px;
  }
  .img-container .img {
    height: 64rem;
    width: 61rem;
    margin-top: 50rem;
  }
  .img-container span {
    font-size: 20px;
  }
  .main-container {
    gap: 2rem;
  }
  @keyframes left-entry {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(55vw);
    }
  }

  @keyframes right-entry {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-55vw);
    }
  }
}
@media screen and (max-width: 330px) {
  html {
    font-size: 10%;
  }
  .img-container .img {
    height: 60rem;
    width: 55rem;
  }
  .main-container {
    gap: 2rem;
  }
  pre {
    left: 13vw;
  }
  h1 {
    font-size: 11rem;
  }
  @keyframes left-entry {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(45vw);
    }
  }

  @keyframes right-entry {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-45vw);
    }
  }
}

@media screen and (max-width: 300px) {
  html {
    font-size: 10%;
  }
  .img-container .img {
    height: 64rem;
    width: 61rem;
  }
  pre{
    font-size: 10rem;
  }
 
  .main-container {
    gap: 2rem;
  }
  @keyframes left-entry {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(65vw);
    }
  }

  @keyframes right-entry {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-65vw);
    }
  }
  h1 {
    font-size: 9.5rem;
  }
  pre {
    font-size: 10rem;
    left: 19vw;
  }
  #win,
  #lost,
  #draw {
    font-size: 10rem;
  }
}
@media screen and (max-width: 250px) {
 
  @keyframes left-entry {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(60vw);
    }
  }

  @keyframes right-entry {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-60vw);
    }
  }
  h1 {
    font-size: 12rem;
  }
  pre {
    font-size: 12rem;
   left: 5vw;
  }
  #win,
  #lost,
  #draw {
    font-size: 12rem;
  }
}
@media screen and (max-width: 200px){
  html{
    font-size: 5%;
    margin-left: 2px;
  }
  h3{
    font-size: 25rem;
    margin-top: 1rem;
  }
  .img-container .img {
    height: 64rem;
    width: 61rem;
    margin-top: 0rem;
  }
span{
  font-size: 10rem;
}
pre{
  left: 15vw;
}
@keyframes left-entry {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(49vw);
  }
}

@keyframes right-entry {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-49vw);
  }
}
}
